<h1>Profile Page for <%= @user.name %></h1>

<h3>Pick a deck and start a game</h3>
  

  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>"><%= deck.name %></a></li>
    <% end %>
  </ul>

<h3>Rounds Played</h3>

  <% @user.rounds.each do |round| %>
    <%= round.result %>
  <% end %>

  
